:root {
  /** ## Primary Colours ## */
  --white: #fff;
  --gray: #9f9f9f;
  --dark-gray: #6d6d6d;
  --light-gray: #f5f5f5;
  --bc-yellow: #e3a82b;
  --info-blue: #1874cf;

  /** ## Font Properties ## */

  /* Colours */
  --fc-dark: #282524;
  --fc-light: #818181;

  /* Sizes */
  --fs-base: 16px;
  --fs-h1: 2.074em;
  --fs-h2: 1.728em;
  --fs-h3: 1.44em;
  --fs-h4: 1.2em;

  /* Weights */
  --bold: 700;
}
